body {
  background-color: #000000;
}
.navbar {
  display: flex;
  width: 1440px;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
}

.home {
}

#formules {
  padding-bottom: 150px;
}
#formules h2,
#produits h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fb3e02;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 48px;
  font-weight: 500;
}
#desc_formules {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 80%;
}
.prix_formules {
  color: #727273;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  background-color: #ffffff;
  padding: 25px;
  width: 315px;
  border-radius: 0 0 20px 20px;
  margin: 0 10px;
  padding-bottom: 80px;
}
#formule1,
#formule3 {
  border-top: solid 5px #727273;
}
#formule2 .prix_formules {
  color: #fb3e02;
}
#formule2 {
  border-top: solid 5px #fb3e02;
}

.title_formules {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  color: #727273;
}

.desc_unite {
  font-family: "Poppins", sans-serif;
  color: #9d9d9d;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.active {
}
#formules a {
  display: block;
  text-align: center;
  border: solid 2px #9d9d9d;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #9d9d9d;
  font-size: 20px;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
  border-radius: 100em;
  padding: 5px;
}

#formules a:hover {
  background-color: #fb3e02;
  color: #ffffff !important;
  border: solid 2px #fb3e02 !important;
}
#formules ul {
  display: block;
  margin-bottom: 35px;
  list-style: none;
}
#formules ul li::before {
  content: "+";
  font-size: 42px;
  padding-right: 10px;
  position: relative;
  top: 8px;
}
#formule2 ul li::before {
  content: "+";
  color: #fb3e02;
}
#formules li {
  font-family: "Poppins", sans-serif;
  color: #9d9d9d;
  font-size: 21px;
  font-weight: 400;
}

.produit {
  width: 208px;
  color: #727273;
  text-align: center;
  margin: 0 10px;
}
#produits {
  margin-bottom: 100px;
}
.cadre_produit {
  background: #242424;
  border: solid 1px #c4c4c4;
  border-radius: 20px;
  padding: 5px 25px 65px 25px;
}
.produit p {
  font-family: "Poppins", sans-serif;
  color: #9d9d9d;
  font-size: 13px;
}
.title_produit {
  font-size: 24px !important;
  padding: 0;
}
.produit a {
  text-decoration: none;
  display: block;
  border: solid 1px #ffffff;
  width: 35%;
  margin: 0 auto;
  position: relative;
  top: -25px;
  background-color: #fb3e02;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.produit a:hover {
  border: solid 1px #9d9d9d;
  background-color: #242424;
  color: #9d9d9d;
}

.produit img {
  width: 125px;
}
hr {
  width: 30%;
}
